@media only screen and (min-width: 32.5em){

    header {
        font-size: 4.3rem;
  padding-left: 50px;
    }
    header img {
        float: right;
        width: 30%;
        margin-right: 50px;
        margin-top: 30px;
    }

    


}

