
table{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 8px 15px 3px #628ca6;
    
 }

 caption {
     font-weight:700;
     font-size: 1.5rem;
     box-shadow: 8px 8px 15px 3px #628ca6;
 }

 tbody {
     font-size: 1.1rem;
 }
 tfoot {
     font-size: .8rem;
 }
tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}
tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

caption, tfoot {
    background-color: #7fb9c2;
}
thead {
    background-color: #628ca6;
    color: white;
    font-size: 1.2rem; 
    font-weight: 300;
}

table, th, td, caption {
    border: 1px solid darkgrey;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right:10px;
}

 tr td#belowGoal {
    background-color:#628ca6;
    color: white;
}