
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Archivo Black', sans-serif;
    background-color: rgba(16, 29, 66, 1);
    color: rgba(204, 218, 209, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 120px 1fr;   
}

header #website_logo{
    float: left;
    width: 110px;
    grid-column: 1/2;
}

header#nameAndSlogan{
    grid-column: 2/3;
    padding-right: 10px;
}

#weatherhamburger{
    width: 30px;
    justify-content: center;
}

body{
    width: 100%;
    max-width: 1200px ;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color:rgba(16, 29, 66, 1);
}

nav button {
    
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgba(204, 218, 209, 1);
}



main p {
    color: rgba(16, 29, 66, 1);
    font-size: 18px;
    max-width: 75%;
}

h3{
    font-family: 'Archivo Black', sans-serif;
    color:rgba(71, 88, 65, 1);
    font-size: 20px;
}

nav {
    background-color: rgba(129, 82, 63, 1);
    font-family: 'Tienne', serif;
    color: rgba(204, 218, 209, 1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(204, 218, 209, 1);
    border-top:1px solid rgba(0,0,0,0.3)
}


nav ul li a:hover{
    color: rgba(71, 88, 65, 1);
    background-color: rgba(163, 119, 116, 1); 
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
}



nav ul.hide {display: none;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer{
    font-family: 'Tienne', serif;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    color: rgba(71, 88, 65, 1);
    background-color: rgba(204, 218, 209, 1);
    font-size: 1em;
}
footer a{
    color: rgba(16, 29, 66, 1);
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
}

a:hover{
    color: rgba(71, 88, 65, 1);
    background-color: rgba(163, 119, 116, 1); 
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
}


footer a:hover{
    font-size: 16px;
    
}