@media only screen and (min-width: 56em){
nav ul#primaryNav li {
    width: 160px;
}


.herodiv{
    max-width: 1000px;
}
.herodiv img{
    max-width: 1000px;
}

.article{
    max-width: 1000px;
}

.contact{
    max-width: 1000px;
}




}