@media only screen and (min-width: 100em){
    div#home1stcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;
    }

    

    div#home3rdcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1400px;
        margin: 0 auto;
    }



}
