


header{
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Serif JP', serif;
    background-color: rgba(234, 234, 234,1);
    display: grid;
    grid-template-columns: 1fr 10px 3fr 1fr;
    grid-template-rows: 90px 40px;
    padding-top: 10px;
}


header #site_logo{
    padding-left: 5px;
    width: 120px;
    grid-row: 1/3;
    grid-column: 1/2;
}

header #site_logo img{
    width: 120px;
}


header #sitename h1{
    color: rgba(215, 38, 56, 1);
    margin-top:0px;
    font-size: 1.7rem;

}

header #sitename {
    grid-row: 1/2;
    grid-column: 3/4;
}

header #siteslogan{
    color: rgba(38,38,38,1);
    font-size: 1.1rem;
    grid-row: 2/3;
    grid-column: 3/4;
}

#commercehamburger{
    width: 40px;
    
    background-color: rgba(38,38,38,1);
}

p {
    font-family: 'Noto Serif JP', serif; 
}

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
}

h1, h3 {
    color:rgba(215, 38, 56, 1);
}

h2 {
    color:rgba(6, 167, 125, 1);
}

h1#homewelcome, div#tlcheader {
    text-align: center;
}

#weatheralert {
    background-color: rgba(6, 167, 125, .5);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#weatheralert button{
    margin: 5px auto;
    border: none;
    color:rgba(215, 38, 56, 1);
    background-color: transparent;
    font-size: 2rem;
}

#weatheralert button img{
    width: 30px;
    
}

#weatheralert p {
    padding-bottom: 10px;
}

nav {
    background-color: rgba(38,38,38,1);
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

nav button {
    background-color: transparent;
    border: none;
}

nav ul.hide {
    display: none;
}

ul#primaryNav{
    padding-bottom: 0px;
}

a{
    text-decoration: none;
    color:rgba(234, 234, 234,1);
}

a:hover {
    color: rgba(6, 167, 125, 1);
    
}

ul {
    list-style-type: none;
}

nav ul {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 0px;
}


nav ul li a{
    font-family: 'Fjalla One', sans-serif;
    color:rgba(234, 234, 234,1);
    padding-left: 0px;
    font-size: 1.3rem;  
    
}

nav ul li {
    padding: 5px 0;
    border-bottom: 1px solid white;
    text-align: center;
}


nav ul li a:hover{
    font-size: 1.5rem;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div#home1stcontainer {
    margin-bottom: 30px;
}

div#home2ndcontainer {
    margin: 40px 40px;
    background-color: rgba(215, 38, 56, .2);
    padding: 15px 15px; 

}

div#home2ndcontainer img {
    max-height: 266px;
    max-width: 400px;
    width: 100%;
}

div#home2ndcontainer button {
    background-color: rgba(6, 167, 125, 1);
    border: none;
    font-family: 'Fjalla One', sans-serif;
    color: rgba(234, 234, 234,1);
    font-size: 1.5rem;
    height: 40px;
    text-align: center;
    width: 100%;
    
    
}

div#home2ndcontainer button:hover {
    background-color: rgba(6, 167, 125, .3);
    color:rgba(38,38,38, 1);
}

main.mainhome {
    margin: 20px 20px;
}

img#commercebuildingphoto{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

div#firstcompany, div#secondcompany, div#thirdcompany{
    padding: 5px 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    max-width: 300px;
    width:100%;
    border: 1px solid rgba(215, 38, 56, 1);
}

div#purpose{
    max-width: 576px;
    width: 100%;
    
}

div#call{
    margin-left: 20px;
    max-width: 270px;
    width: 100%;
    margin-bottom: 20px;
}

div#currentweather{
    display: grid;
    grid-template-rows: 80px 60px 40px 40px;
    grid-template-columns: 110px 200px;
    border: 2px solid rgba(215, 38, 56, 1);
    background-color: rgba(234, 234, 234, 1);
    height: 250px;
    max-width: 480px;
    min-width: 330px;
    padding: 0 5px;
}

div#home3rdcontainer img{
    max-height: 225px;
    max-width: 400px;
    width: 100%;

}



div#contactsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(6, 167, 125, .2);
    margin: 20px auto;
}
div#currentweather h2{
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
}

div#contactsection a h1:hover{
    color:rgba(6, 167, 125, 1);
}

#weatherinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherdesc {
    text-align: right;
    font-size: 1.3rem;
    font-family: 'Noto Serif JP', serif;
    padding-left: 5px;
    color:rgba(38, 38, 38, 1);
}
.weathercondition {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Fjalla One', sans-serif;
    color:rgba(215, 38, 56, 1);
    font-weight: bold;
    
}

#currdesc{
    grid-row: 2/3;
    grid-column: 1/2;
}

#currtemp{
    grid-row: 3/4;
    grid-column: 1/2;
}
#currhumidity{
    grid-row: 4/5;
    grid-column: 1/2;
}

#description{
    grid-row: 2/3;
    grid-column: 2/3;
}

#temp{
    grid-row: 3/4;
    grid-column: 2/3;
}

#humidity{
    grid-row: 4/5;
    grid-column: 2/3;
}

div#threedayforecast {
    display: grid;
    grid-template-rows: 50px 200px;
    grid-template-columns: 110px 110px 110px;
    border: 2px solid rgba(215, 38, 56, 1);
    min-width: 340px;
    background-color: rgba(234, 234, 234, 1);

}

div#threedayforecast h2 {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
}

.dayforecast{
    text-align: center;
}

#date1, #date2, #date3 {
    font-family: 'Fjalla One', sans-serif;
    color:rgba(6, 167, 125, 1);
    font-size:larger;
    font-weight: bolder;
}

#temp1, #temp2, #temp3 {
    font-family: 'Fjalla One', sans-serif;
    color:rgba(215, 38, 56, 1);
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border-radius: 50%;
  }
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }



footer {
    background-color: rgba(38,38,38,1);
    font-size: 1.2rem;
    font-family: "Fjalla One", sans-serif;
    color:rgba(234, 234, 234,1);
    text-align: center;
} 

footer a#attributionslink {
    color:rgba(215, 38, 56, 1);
    font-family: 'Noto Serif JP', serif;
}

footer a#attributionslink:hover {
    color: rgba(6, 167, 125, 1);
}

main.mainrexburg, main.mainjoin {
    max-width: 1000px;
    margin: 0 auto;
}
 div.rexburgherodiv{
     position: relative;
 }

div.rexburgherodiv img {
    width: 100%;
}

div#towninfo {
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: 125px 245px ;
    background-color: rgba(6, 167, 125, 0.7);
    padding-top: 15px;
    border: 1.5px solid rgba(234, 234, 234, 1);
}

#yearfounded, #namedafter, #elevation, #population {
    text-align: right;
    grid-column: 1/2;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.3rem;
    color: rgba(234, 234, 234, 1);
}
#yearfounded {
    grid-row: 1/2;
}
#namedafter {
    grid-row: 2/3;
}
#elevation {
    grid-row: 3/4;
}
#population {
    grid-row: 4/5;
}
#year, #founder, #elev, #currpopulation {
    text-align: center;
    grid-column: 2/3;
    font-size: 1.1rem;
    font-family: "Noto Serif JP", serif;
}
#year {
    grid-row: 1/2;
}
#founder {
    grid-row: 2/3;
}
#elev{
    grid-row: 3/4;
}
#currpopulation{
    grid-row: 4/5;
}

div.events {
    background-color: rgba(38,38,38, .2);
    max-width: 1000px;
    margin-bottom: 20px;
    padding: 15px 15px;
}

th {
    text-align: left;
    color: rgba(6, 167, 125, 1);
    font-family: "Fjalla One",sans-serif;
    font-size: 1.5rem;
}

th, td {
    padding-right: 20px;
}

tr {
    border-bottom: rgba(38,38,38, 1);
}

tr, td {
    font-family: "Noto Serif JP",serif;
}

td.tabledate {
    color: rgba(215, 38, 56, 1);
    font-weight: bolder;
}

div.business {
    background-color: rgba(215, 38, 56, .2);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

div.business img {
    max-width: 400px;
    max-height: 266px;

}

div.business div {
    padding: 20px 20px;
    font-size: 1rem;
    max-width: 500px;
    font-family: "Noto Serif JP", serif;
}

#membershipexplanation {
    background-color: rgba(38,38,38, .2);
    padding: 10px 10px;
    margin-top: 10px;
}

form label {
    font-family: "Noto Serif JP", serif;
}

form label.ontop input {
    min-width: 300px;
    margin-bottom: 30px;
}

form input.submission {
    border:1px solid rgba(38, 38, 38, 1);
    background-color:rgba(6, 167, 125, 1);
    color: rgba(234, 234, 234,1);
    font-family: "Fjalla One", sans-serif;
    font-size: 2rem;
    height: 80px;
    width: 380px;   
}

form input.submission:hover {
    border: 1px solid rgba(234, 234, 234,1);
    background-color: rgba(6, 167, 125, .2);
    color:rgba(38,38,38, 1);
}

input#submitapplication.submission {
    margin: 40px auto;
}

 form label.ontop input, form label.ontop textarea {
    display: block;
    height: 44px;
    background-color: rgba(6, 167, 125, .2);
    border-radius: 5px;
}

main.mainjoin form label.ontop input, main.mainjoin form label.ontop textarea {
    width: 75%;
}

main.maincontact form label.ontop input, main.maincontact form label.ontop textarea {
    width: 100%;
}

form label.ontop textarea {
    height: 100px;
}

form label input:required {
    border-left: rgba(215, 38, 56, 1) solid 6px;
}

form label input:required:valid {
    border-left: rgba(6, 167, 125, 1) solid 6px;
}

form label input#formdesc {
    height: 100px;
}

#annualfee {
    font-family: "Fjalla One", sans-serif;
    color:rgba(6, 167, 125, 1);
    font-size: 1.3rem;
}

#annualfee span {
    font-family: "Noto Serif JP", serif;
    color: rgba(38,38,38, 1);
}

main.maindirectory{
    max-width: 1000px;
    
    margin: 20px auto;
    text-align: center;
}


div.businesscontainergrid, div.businesscontainerlist {
    display: block;
    border:1px solid rgba(215, 38, 56, 1);
    width: 100%;
    padding: 20px 10px;
    max-width: 200px;
    height: 230px;
}

div.businesscontainergrid img, div.businesscontainergrid section, div.businesscontainerlist img, div.businesscontainerlist section {
    width: 100%;
}

div.businesscontainergrid img, div.businesscontainerlist img{
    max-width: 150px;
}

div.businesscontainergrid section, div.businesscontainerlist section {
    font-size: .7rem;
    max-width: 180px;
}

div.gridview#toprow, div.gridview#middlerow, div.gridview#bottomrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.listview#toprow, div.listview#middlerow, div.listview#bottomrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#gridbutton, button#listbutton {
    display: none;
}

main.maincontact h1 {
    text-align: center;
}
#contactcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#googlemap{
    width: 100%;
    max-width: 600px;
}

#contactinfo {
background-color: rgba(6, 167, 125, 0.3);
width: 100%;
text-align: center;
}

#boardofdirectors{
    background-color: rgba(38,38,38, .2);
    padding: 10px 10px;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
}




