@media only screen and (min-width: 56.25em){
    .columns-area{
        grid-template-columns: 1fr 10px 1fr 10px 1fr;
        grid-template-rows: 1fr;
    } 

    h2 {
        font-size: 1.7rem;
        height: 2rem;
    }

    img {
        width: 75%;

    }

    #firstcolumn{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #secondcolumn{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #thirdcolumn{
        grid-column: 5/6 ;
        grid-row: 1/2;
    }

    p, a {
        font-size: 1.2rem;
    }

    
}